body, html{
    height: 100%;
    width: 100%;
    margin: 0;
}

body{
    background-image:url(../Images/main_Image.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

