body, html{
    height: 100%;
    width: 100%;
    margin: 0;
}

body{
    background: url("../Images/main_Image.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

img{
    margin-top:50px;
    width:300px;
    height:100px;
}



